-# app/views/admin/settings/branding/show.html.haml
-# Mastodon 관리자 브랜딩 설정 (로고/배경/컬러/커스텀 CSS 등)

%h2= t('admin.settings.branding.title')

= simple_form_for @instance, url: admin_settings_branding_path, html: { multipart: true } do |f|
  .fields-group
    .field
      = f.label :header_logo, t('admin.settings.branding.header_logo')
      = f.input :header_logo, as: :file, hint: @instance.header_logo.attached? ? image_tag(url_for(@instance.header_logo), height: 64) : nil

    .field
      = f.label :favicon, t('admin.settings.branding.favicon')
      = f.input :favicon, as: :file, hint: @instance.favicon.attached? ? image_tag(url_for(@instance.favicon), height: 32) : nil

    .field
      = f.label :background_image, t('admin.settings.branding.background_image')
      = f.input :background_image, as: :file, hint: @instance.background_image.attached? ? image_tag(url_for(@instance.background_image), height: 64) : nil

    .field
      = f.label :primary_color, t('admin.settings.branding.primary_color')
      = f.input :primary_color

    .field
      = f.label :accent_color, t('admin.settings.branding.accent_color')
      = f.input :accent_color

    .field
      = f.label :background_color, t('admin.settings.branding.background_color')
      = f.input :background_color

    .field
      = f.label :theme, t('admin.settings.branding.theme')
      = f.input :theme

    .field
      = f.label :description, t('admin.settings.branding.description')
      = f.input :description

    / ===========================
    / 커스텀 CSS 입력란 (여기 추가)
    .field
      = f.label :custom_css, "Custom CSS (site-wide)"
      = f.text_area :custom_css, rows: 10, class: "form-control"
      %small.help-block 사이트 전체에 바로 적용되는 CSS를 입력하세요.
    / ===========================

  .actions
    = f.button :submit, t('admin.settings.save_changes'), class: "button is-primary"

- if flash[:notice]
  .flash.notice= flash[:notice]

- if flash[:alert]
  .flash.alert= flash[:alert]

/ 기타 정보 및 안내(필요시)
/ %p= t('admin.settings.branding.info')
