!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title= content_for?(:title) ? yield(:title) : "Mastodon"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    / ====== 커스텀 CSS 자동 반영 ======
    - if Instance.respond_to?(:custom_css) && Instance.custom_css.present?
      :css
        #{Instance.custom_css}
    / ================================

    %title= html_title
    = theme_style_tags current_theme
    = vite_client_tag
    = vite_react_refresh_tag
    = vite_polyfills_tag
    = vite_stylesheet_tag 'styles/entrypoints/inert.scss', media: 'all', id: 'inert-style'
    = vite_typescript_tag 'common.ts', crossorigin: 'anonymous'
    = vite_preload_file_tag "mastodon/locales/#{I18n.locale}.json"
    = csrf_meta_tags unless skip_csrf_meta_tags?
    %meta{ name: 'style-nonce', content: request.content_security_policy_nonce }
    = custom_stylesheet
    = yield :header_tags

  %body{ class: body_classes }
    = content_for?(:content) ? yield(:content) : yield

    .logo-resources{ 'tabindex' => '-1', 'inert' => true, 'aria-hidden' => 'true' }
      = inline_svg_tag 'logo-symbol-icon.svg'
      = inline_svg_tag 'logo-symbol-wordmark.svg'
